versioned-hdf5
--no-binary=h5py h5py
scikit-learn
scikit-image
kuti
munch
cycler
fonttools
imageio
kiwisolver
libsvm
matplotlib
networkx
numpy
opencv-python
packaging
Pillow
pyparsing
python-dateutil
PyWavelets
scikit-image
scipy
setuptools-scm
six
tifffile
tomli
torch
torch-vision
kutils
