cycler
fonttools
imageio
kiwisolver
libsvm
matplotlib
networkx
numpy
opencv-python
packaging
Pillow
pyparsing
python-dateutil
PyWavelets
scikit-image
scipy
setuptools-scm
six
tifffile
tomli
torch
torch-vision
kutils
openpyxl
torchvision.utils